.project-page {
  color: white;
  padding: 5% 10%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-bottom: 0;
  position: relative;
  height: calc(100vh - 40px);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: inherit; 
    box-shadow: inset 0 0 0 300px rgba(0,0,0,0.3);
    filter: blur(3px);
  }
  .page-grip {
    display: grid;
    grid-template-columns: 1.5fr 10px 1fr;
    position: relative;
    z-index: 1;
  }

  .gallery {
    height: 85vh;
    overflow: scroll;
    text-align: center;
    padding-bottom: 10px;
    img {
      width: 90%;
      border-radius:5px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.7);
      margin-bottom: 15px;
    }
  }
  .info {
    .project-name {
      font-size: 3rem;
      font-weight: bold;
      line-height: 2rem;
    }
    .project-field {
      font-size: 0.9rem;
      text-transform: uppercase;
      margin-right: 15px;
      color: rgba(255, 255, 255, 0.5);
      
    }
    .stat-list {
      display: flex;
      margin: 10px 0px;
    }
    .stat {
      margin-right: 5px;
      text-align: center;
      display: inline-block;
      width: 50px;
      height: 50px;
      padding-top: 6px;
      &.appreciation { background: #ffa502}
      &.view { background: #ff4757}
      &.comment { background: #5352ed}

      svg{
        height: 20px;
        fill: white;
        margin-bottom: 2px;
      }
      span {
        font-size: 0.9rem;
        line-height: 1px;
        display: block;
      }
    }
    .about {
      background: rgba(0,0,0,0.7); 
      padding: 10px;
      margin-bottom: 10px;
    }
  }
}

.owner-list {
  display: flex;
  .owner {
    width: 150px;
    background: rgba(0,0,0,0.7);
    border-bottom: 2px solid white;
    margin-right: 10px;
    padding: 5px;
    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
    }
    p.owner-name {
      text-transform: uppercase;
    }
  }
}


