@import url('https://fonts.googleapis.com/css?family=Cute+Font');

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Cute Font', cursive; 
  font-size: 20px; 
}

.App {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: rgb(2,0,36);
  background: linear-gradient(151deg, rgba(2,0,36,1) 1%, rgba(46,58,71,1) 41%, rgba(2,0,36,1) 100%);
  position: relative;
}

* {
  box-sizing: border-box;
}
